<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>transV2</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
    <session-timeout>300</session-timeout>
 </session-config>
 
  <servlet>  
     	<servlet-name>PagePrincipale</servlet-name>  
    	<servlet-class>transversal.PagePrincipale</servlet-class>  
</servlet>
	 <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>Inscription.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletFormulaire</servlet-name>
        <servlet-class>transversal.ServletFormulaire</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ServletAPIjs</servlet-name>
        <servlet-class>transversal.ServletAPIjs</servlet-class>
    </servlet>
    
        <servlet>
        <servlet-name>Formulaire</servlet-name>
        <servlet-class>transversal.Formulaire</servlet-class>
</servlet>
 <servlet-mapping>
        <servlet-name>Formulaire</servlet-name>
        <url-pattern>/Formulaire</url-pattern>
</servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ServletAPIjs</servlet-name>
        <url-pattern>/API</url-pattern>
    </servlet-mapping> 
      <servlet-mapping>
        <servlet-name>inscription</servlet-name>
        <url-pattern>/Inscription</url-pattern>
    </servlet-mapping> 
    <servlet-mapping>
        <servlet-name>ServletFormulaire</servlet-name>
        <url-pattern>/ServletFormulaire</url-pattern>
    </servlet-mapping> 

	 <servlet>
        <servlet-name>connexion</servlet-name>
        <servlet-class>Connexion.Connexion</servlet-class>
    </servlet>
    
    
    <servlet-mapping>
        <servlet-name>connexion</servlet-name>
        <url-pattern>/Connexion</url-pattern>
    </servlet-mapping>
 <servlet-mapping>  
    	<servlet-name>PagePrincipale</servlet-name>  
    	<url-pattern>/PagePrincipale</url-pattern> 
</servlet-mapping> 
</web-app>